# URL de l'API backend
VITE_API_URL=http://localhost:3333

# Configuration S3 pour afficher les photos
# Ces valeurs doivent correspondre à celles du backend
VITE_S3_ENDPOINT=https://s3.amazonaws.com
VITE_S3_BUCKET=momento-photos
