@import "tailwindcss";

@theme {
  --color-momento: #71a36d;
  --font-family-title: "Imperial Script", cursive;
}

/* Classe pour les titres avec la font manuscrite */
.font-title {
  font-family: var(--font-family-title);
}
